In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_excel("ESD.xlsx")

# Create new column GetBonus and add values according to conditions
df.loc[(df["Bonus %"] == 0),"GetBonus"] = "No Bonus"
df.loc[(df["Bonus %"]>0),"GetBonus"] = "Bonus"

print(df.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date  GetBonus
0     0.15  United States    Seattle 2021-10-16     Bonus
1     0.00          China  Chongqing        NaT  No Bonus
2     0.20  United States    Chicago        NaT     Bonus
3     0.07  United States    Chicago        NaT     Bonus
4     0.00  United States    Phoenix        NaT  No Bonus
5     0.00          China  Chongqing        NaT  No Bonus
6     0.10  United States    Phoenix        NaT     Bonus
7     0.00  United States      Miami 2021-05-20  No Bonus
8     0.06  United States     Austin        NaT     Bonus
9     0.00  United States    Chicago        NaT  No Bonus

In [8]:
# Combine first name and Job title 
df["Name and Designation"] = df["Full Name"].str.capitalize()+" "+df["Job Title"]
print(df.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date  GetBonus  \
0     0.15  United States    Seattle 2021-10-16     Bonus
1     0.00          China  Chongqing        NaT  No Bonus
2     0.20  United States    Chicago        NaT     Bonus
3     0.07  United States    Chicago        NaT     Bonus
4     0.00  United States    Phoenix        NaT  No Bonus
5     0.00          China  Chongqing        NaT  No Bonus
6     0.10  United States    Phoenix        NaT     Bonus
7     0.00  United States      Miami 2021-05-20  No Bonus
8     0.06  United States     Austin        NaT     Bonus
9     0.00  United States    Chicago        NaT  No Bonus

                       Name and Designation
0                    Emily Davis Sr. Manger
1         Theodore Dinh Technical Architect
2                     Luna Sanders Director
3  Penelope Jordan Computer Systems Manager
4                     Austin Vo Sr. Analyst
5       Joshua Gupta Account Representative
6                       Ruby Barnes Manager
7                       Luke Martin Analyst
8                     Easton Bailey Manager
9               Madeline Walker Sr. Analyst

In [13]:

def extract(value):
    return value[0:1]

def  test_extract(value):
    return value.split()[0]

df["Sex"] = df["Gender"].map(extract)
df["First Name"] = df["Full Name"].map(test_extract)
\
print(df.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date  GetBonus  \
0     0.15  United States    Seattle 2021-10-16     Bonus
1     0.00          China  Chongqing        NaT  No Bonus
2     0.20  United States    Chicago        NaT     Bonus
3     0.07  United States    Chicago        NaT     Bonus
4     0.00  United States    Phoenix        NaT  No Bonus
5     0.00          China  Chongqing        NaT  No Bonus
6     0.10  United States    Phoenix        NaT     Bonus
7     0.00  United States      Miami 2021-05-20  No Bonus
8     0.06  United States     Austin        NaT     Bonus
9     0.00  United States    Chicago        NaT  No Bonus

                       Name and Designation First Name Sex
0                    Emily Davis Sr. Manger      Emily   F
1         Theodore Dinh Technical Architect   Theodore   M
2                     Luna Sanders Director       Luna   F
3  Penelope Jordan Computer Systems Manager   Penelope   F
4                     Austin Vo Sr. Analyst     Austin   M
5       Joshua Gupta Account Representative     Joshua   M
6                       Ruby Barnes Manager       Ruby   F
7                       Luke Martin Analyst       Luke   M
8                     Easton Bailey Manager     Easton   M
9               Madeline Walker Sr. Analyst   Madeline   F

In [22]:
# Group by find the aggregate or numbers accordingly

# returns no of employees in each department on basis of ID
gp = df.groupby("Department").agg({"EEID":"count"})
print(gp)
# returns no of employees in each department on basis of ID and seperate them in gender
gp_gender = df.groupby(["Department","Gender"]).agg({"EEID":"count"})
print(gp_gender)

# Returns avrage salary according to countries
gp_avg = df.groupby(["Country","Gender"]).agg({"Annual Salary":"max","Age":"mean"})
print(gp_avg)

                 EEID
Department
Accounting         96
Engineering       158
Finance           120
Human Resources   125
IT                241
Marketing         120
Sales             140
                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64
                      Annual Salary        Age
Country       Gender
Brazil        Female         258426  42.240000
              Male           249506  45.312500
China         Female         249686  44.752294
              Male           257194  46.027523
United States Female         258498  44.580838
              Male           258081  43.783172